.home-sec-two{

}
.home-sec-two .vertical-wrapper .sec-one,
.home-sec-two .vertical-wrapper .sec-two{
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 20px 0;
}
.home-sec-two .vertical-wrapper .sec-one .sec-one-inner a.start-campaign{
    border: 1px solid grey;
    border-radius: 40px;
    padding: 10px;
    color: #000000;
    font-size: 20px;
}
.home-sec-two .vertical-wrapper .sec-two .sec-two-inner .save-live{
    font-size: 24px;
}
.home-sec-two .vertical-wrapper .sec-one .sec-one-inner,
.home-sec-two .vertical-wrapper .sec-two .sec-two-inner{
    padding: 20px;
}
.home-sec-two .vertical-wrapper .sec-one .sec-one-inner i,
.home-sec-two .vertical-wrapper .sec-two .sec-two-inner i{
    border: 1px solid grey;
    border-radius: 99px;
    padding: 5px;
}
@media only screen and (min-width: 800px){
    .home-sec-two .vertical-wrapper .sec-one .sec-one-inner,
    .home-sec-two .vertical-wrapper .sec-two .sec-two-inner{
        padding: 50px;
    }
}

.home-sidebar .sidebar-content{
    margin-top: 0;
}
.home-sidebar .sidebar-content ul li .sidebar-item{
    cursor: pointer;
}
.home-sidebar .sidebar-content ul li .sidebar-item .text{
    position: relative;
}
.home-sidebar .sidebar-content ul li .sidebar-item .text a.view-campaign{
    position: absolute;
    right: 0;
    bottom: 5px;
}
.home-sidebar .sidebar-content ul li .sidebar-item .text a.view-campaign i{
    color: #000000;
    transition: all 0.5s;
}
.home-sidebar .sidebar-content ul li .sidebar-item .text a.view-campaign i:hover{
    color: blue;
    width: 20px;
}
.home-sidebar .sidebar-content ul li .sidebar-item .image img{
    width: 100%;
    height: auto;
    margin-top: 15px;
    border-radius: 2px;
}

/*main_app index section 3 styles*/
.home-sec-three{

}
.home-sec-three .top-campaign{

}
.home-sec-three .top-campaign .valign{

}
.home-sec-three .top-campaign .valign .card{

}
.home-sec-three .top-campaign .valign .card .card-image{
    height: 170px;
    overflow: hidden;
}
.home-sec-three .top-campaign .valign .card .card-image img{

}
.home-sec-three .top-campaign .valign .card .card-content{

}
.home-sec-three .top-campaign .valign .card .card-content .card-title{

}
.home-sec-three .top-campaign .valign .card .card-reveal .card-title{

}


.main-content-section{
    height: auto;
    min-height: 450px;
}