/*base styles*/
body{
    background-image: url('../../static/media/staticimages/bg4.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*Footer styles*/
.footer-links{

}
.footer-links ul li{
    display: inline;
    list-style-type: none;
    margin-right: 10px;
}
.footer-links ul li a{
    text-decoration: none;
    color: grey;
}
.copyright p{
    color: grey;
}

/*signup styles*/
form ul.errorlist{
    font-size: 15px;
    color: #fff;
    background-color: red;
    padding: 5px;
}
form p label{
    font-size: 15px;
}
form p input{
    border: 1px solid grey;
    border-radius: 5px;
}
form p textarea{
    height: 100px;
    min-height: 100px;
    border: 1px solid grey;
    border-radius: 5px;
}