{% extends 'campaigns/base_layout.html' %}

{% block title %}New Campaign{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <h5>{{ title }}</h5>
    </div>
    <div class="">
        {% if messages %}
        <ul class="messages card-panel red darken-1 white-text center">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="row card-panel hoverable">

        <div class="row">

            <!--<form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="col s5 vertical-wrapper">
                    <input type="text" value="{{ campaign.id }}" name="open_campaign_id" hidden>

                    <input type="text" name="campaign_owner_id" value="{% if user.is_authenticated %}{{ user.id }}{% endif %}" hidden>

                    <div class="input-field">
                        <select typeof="select" name="open_campaign" required>
                            <option value="" disabled selected>Choose a campaign</option>
                            {% for open_campaign in open_campaigns %}

                            <option value="{{ open_campaign.campaign_title }}">{{ open_campaign.campaign_title }}</option>

                            {% endfor %}
                        </select>
                        &lt;!&ndash;<label>Open Campaign</label>&ndash;&gt;
                    </div>

                    <div class="input-field">
                        <select typeof="select" name="applicant_type" id="" required>
                            <option value="" disabled selected>Choose applicant type</option>
                            <option value="group">Group</option>
                            <option value="organization">Organization</option>
                        </select>
                        &lt;!&ndash;<label>Applicant type</label>&ndash;&gt;
                    </div>
                    <div class="input-field">
                        <label>Organization/Group Name</label>
                        <input type="text" name="organization_or_group_name" required>
                    </div>
                    <div class="input-field">
                        <label>Group/Organization Email</label>
                        <input type="text" name="email_address" required>
                    </div>
                    <div class="input-field">
                        <label>Group/Organization Mobile Number</label>
                        <input type="text" name="mobile_number" required>
                    </div>

                </div>
                <div class="col s7 vertical-wrapper">
                    <div class="row">
                        <div class="col s6">
                            <div class="input-field">
                                <label>County</label>
                                <input type="text" name="county" required>
                            </div>
                        </div>
                        <div class="col s6">
                            <div class="input-field">
                                <label>City</label>
                                <input type="text" name="city" required>
                            </div>
                        </div>
                    </div>
                    <div class="input-field">
                        <label>Group/Org Brief Description</label>
                        <textarea name="group_or_org_description"
                                  style="width: 100%; min-width: 100%; max-width: 100%; height: 150px;
                                  min-height: 150px; max-height: 150px;" required></textarea>
                    </div>
                    <div class="">
                        <label>Supporting Image</label>
                        <div class="">
                            <input type="file" name="supporting_image" required>
                        </div>
                    </div>

                    <br><br>
                    <input type="submit" value="Submit" class="btn btn-small light-blue darken-4 right">
                </div>


            </form>-->

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <br><br>
                <input type="submit" value="Submit" class="btn btn-small light-blue darken-4 right">

            </form>

        </div>
    </div>
</div>
{% endblock %}