{% extends 'campaigns/base_layout.html' %}

{% block title %}Posted Campaigns{% endblock %}

{% block content %}
    <div class="campaigns-main">
        <div class="container">


            {% if messages %}
            <ul class="messages card-panel green darken-1 white-text center">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <div class="col s12">
                <div class="divider"></div>
                <div class="" style="background-color: lavender; padding: 10px 4px;">
                    <a id="scale-demo" href="{% url 'campaigns:index' %}" class="btn-floating scale-transition light-blue darken-2 right">
                        <i class="material-icons">add</i>
                    </a>
                    <h5 style="text-transform: uppercase; font-weight: bold;">{{ title }}</h5>
                </div>
                <div class="divider"></div>

                {% if campaigns %}
                        {% for campaign in campaigns %}
                        <div class="card-wrapper">
                          <div class="card col l4 s12 vertical-wrapper card-panel">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="{{ campaign.supporting_image.url }}">
                            </div>
                            <div class="card-content">
                              <span class="card-title activator grey-text text-darken-4">
                                  <a href="{% url 'campaigns:details' campaign.id %}" class="campaign-title">{{ campaign.organization_or_group_name }}</a>
                                  <i class="material-icons right">more_vert</i>
                              </span>
                              <!--<p><a href="#">Vote</a></p>-->
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">
                                  <i class="material-icons right">close</i>
                                  <a href="{% url 'campaigns:details' campaign.id %}" class="campaign-title black-color">{{ campaign.organization_or_group_name }}</a>
                              </span>

                              <!--<p class="start-date"><b>From: </b> {{ campaign.start_date }}</p>
                              <p class="end-date"><b>To: </b>{{ campaign.end_date }}</p>
                                <p><b>Region:</b>{{ campaign.target_region }}</p>-->
                              <!--<p>{{ campaign.brief_description|slice:":120" }} ...</p>-->
                              <a href="{% url 'campaigns:details' campaign.id %}" class="btn btn-small light-blue darken-4 right">View</a>
                              <div class="">
                                {% if user.is_authenticated %}
                                <a href="{% url 'campaigns:vote' campaign.id %}" class="btn btn-small light-blue darken-4">Vote</a>
                                <!--<p class="votes right"><b>Votes: </b>{{ campaign.total_votes }}</p>-->
                                {% else %}
                                <a href="{% url 'login' %}" class="btn btn-small light-blue darken-4"> Login to Vote</a>
                                <a href="{% url 'accounts:signup' %}" class="btn btn-small light-blue darken-1 right">New Voter</a>
                                {% endif %}
                              </div>
                            </div>
                          </div>


                      </div>
                    {% endfor %}
                {% else %}
                    <div class="card-panel red-text">
                        <p>There are no campaigns at the moment!</p>
                    </div>
                {% endif%}


            </div>
        </div>
    </div>
{% endblock %}