{% extends 'campaigns/base_layout.html' %}

{% block title %}Account activation{% endblock %}

{% block content %}
    <div class="row login-main">
        <div class="container">
            <p>Please check your email address to activate your account.</p>
        </div>
    </div>
{% endblock %}