{% extends 'campaigns/base_layout.html' %}

{% block title %}Invalid activation link{% endblock %}

{% block content %}
    <div class="row login-main">
        <div class="container">
            <p>Your activation link is invalid or has expired, create your account again.</p>
        </div>
    </div>
{% endblock %}