{% extends 'campaigns/base_layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="row login-main">
        <div class="container">
            <div class="row">
                {% if messages %}
                <ul class="messages card-panel green darken-1 white-text center">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s5 vertical-wrapper">
                    <h5><b>{{ title }}</b></h5>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <!--{{ form.as_p }}-->
                        <input type="text" name="first_name" value="{{ user.first_name }}" placeholder="First Name">
                        <input type="text" name="last_name" value="{{ user.last_name }}" placeholder="Last Name">
                        <input type="email" name="email" value="{{ user.email }}" placeholder="Email Address">

                        <!--{{ more_details_form.as_p }}-->
                        <input type="submit" value="Update" class="btn btn-small light-blue darken-4">
                        <a href="{% url 'password_change' %}" class="btn btn-small light-blue darken-3">Change Password</a>
                    </form>
                </div>
                <div class="col s7 vertical-wrapper">

                </div>
            </div>
        </div>
    </div>
{% endblock %}