{% extends 'campaigns/base_layout.html' %}

{% block title %}Nutritious Kenya{% endblock %}

{% block content %}
    <div class="row login-main">
        <div class="container">
            <div class="row">
                {% if messages %}
                <ul class="messages card-panel green darken-1 white-text center">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row">
                <h5>You have been logged out.</h5>
                <a href="{% url 'login' %}" class="btn btn-small light-blue darken-4">Login</a>
            </div>
        </div>
    </div>
{% endblock %}