{% extends 'campaigns/base_layout.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="row login-main">
        <div class="container">
            <div class="row">
                {% if messages %}
                <ul class="messages card-panel green darken-1 white-text center">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row">
                <h1>Password set</h1>
                <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>
            </div>
        </div>
    </div>
{% endblock %}
