{% extends 'campaigns/base_layout.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
    <div class="row login-main">
        <div class="container">
            <div class="row">
                {% if messages %}
                <ul class="messages card-panel green darken-1 white-text center">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row">
                <div class="col l7 s12 vertical-wrapper">
                    <div class="valign">

                    </div>
                </div>
                <div class="col l5 s12 vertical-wrapper">
                    <div class="valign">
                        <form action="" method="POST" class="card-panel">
                            <h5>Change Password</h5>
                            <div class="divider"></div>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Change password" class="btn light-blue darken-4">
                            <br><br>
                            <div class="divider"></div>
                            <br>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}